extends layout

block content
    //-Slider - Creative
    div.tp-banner-container
        div.tp-banner
            ul
                //-Slide
                li.revolution-mch-1(data-transition='fade',data-slotamount='5',data-masterspeed='1000',data-title='Blog')
                    //-Main Image
                    img(src='/images/gallery/las-vegas/las_vegas_14.jpg',alt='darkblurbg',data-bgfit='cover',data-bgposition='center center',data-bgrepeat='no-repeat')
                    //-Layer
                    div.tp-caption.re-title-v1.sft.start(data-x='center',
                    data-hoffset='0',
                    data-y='100',
                    data-speed='1500',
                    data-start='500',
                    data-easing='Back.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300').
                        Dramatic headline
                    //-Layer
                    div.tp-caption.re-text-v1.sft(data-x='center',
                    data-hoffset='0',
                    data-y='200',
                    data-speed='1400',
                    data-start='2000',
                    data-easing='Power4.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300',
                    data-captionhidden='off',
                    style='z-index: 6').
                        Slightly less important statement
                    //-Layer
                    div.tp-caption.sft(data-x='center',
                    data-hoffset='0',
                    data-y='320',
                    data-speed='1600',
                    data-start='2800',
                    data-easing='Power4.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300',
                    data-captionhidden='off',
                    style='z-index: 6')
                        a.btn-u.btn-u-lg(href='/blog') Go to Blog
                        a.btn-u.btn-u-lg.re-btn-brd.margin-left-5(href='/about-me') About Me
                //-Slide
                li.revolution-mch-1(data-transition='fade',data-slotamount='5',data-masterspeed='1000',data-title='Gallery')
                    //-Main Image
                    img(src='/images/gallery/japan/japan_41.jpg',alt='darkblurbg',data-bgfit='cover',data-bgposition='center center',data-bgrepeat='no-repeat')
                    //-Layer
                    div.tp-caption.re-title-v2.sft.start(data-x='center',
                    data-hoffset='0',
                    data-y='100',
                    data-speed='1400',
                    data-start='1000',
                    data-easing='easeOutBack',
                    data-endspeed='300',
                    data-endeasing='easeInQuad',
                    data-captionhidden='off',
                    style='z-index: 6').
                        The Gallery
                    //-Layer
                    div.tp-caption.re-text-v1.sft(data-x='center',
                    data-hoffset='0',
                    data-y='160',
                    data-speed='1400',
                    data-start='2000',
                    data-easing='Power4.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300',
                    data-captionhidden='off',
                    style='z-index: 6').
                        A collection of travel photos
                    //-Layer
                    div.tp-caption.sfb(data-x='center',
                    data-hoffset='0',
                    data-y='230',
                    data-speed='1800',
                    data-start='3000',
                    data-easing='Power4.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300',
                    data-captionhidden='off',
                    style='z-index: 6')
                        a.btn-u.btn-u-lg.re-btn-brd(href='/gallery') Go to Gallery
                //-Slide
                li.revolution-mch-1(data-transition='fade',data-slotamount='5',data-masterspeed='1000',data-title='About')
                    //-Main Image
                    img(src='/images/gallery/misc/japan_2.jpg',alt='darkblurbg',data-bgfit='cover',data-bgposition='center center',data-bgrepeat='no-repeat')
                    //-Layer
                    div.tp-caption.re-title-v2.sft.start(data-x='center',
                    data-hoffset='0',
                    data-y='150',
                    data-speed='1500',
                    data-start='500',
                    data-easing='Back.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300').
                        Hello
                    //-Layer
                    div.tp-caption.re-text-v1.sft(data-x='center',
                    data-hoffset='0',
                    data-y='220',
                    data-speed='2000',
                    data-start='1000',
                    data-easing='Back.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300').
                        My name is Matt
                    //-Layer
                    div.tp-caption.sft(data-x='center',
                    data-hoffset='0',
                    data-y='300',
                    data-speed='1600',
                    data-start='2800',
                    data-easing='Power4.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300',
                    data-captionhidden='off',
                    style='z-index: 6')
                        a.btn-u.btn-u-lg.re-btn-brd(href='/about-me') About Me
            div.tp-bannertime.tp-bottom

    //-Content part
    div.one-page
        //-Blog - Instagram API Part 2
        div.one-page-inner.bg-light
            div.container.content
                div.row
                    div.col-md-6
                        img.img-repsonsive.margin-bottom-10(src='/images/blog/instagram-api/instagram-api-2.png',alt='',height='100%',width='100%')
                    div.col-md-6
                        h1 Instagram API - Part 2
                        p.
                            In our <a href='/blog/posts/instagram-api'> previous post </a> we walked through how to get access to the Instagram API and query tag data. Now for the fun stuff - we want to retrieve media data and display it on our page.
                        p.
                            The end result allows the user to search for tags, then get recently uploaded images for each one.
                        a.btn-u.btn-u-sea.one-page-btn.margin-top-20(href='/blog/posts/instagram-api-2') Go to Post
        //-Blog - Instagram API
        div.one-page-inner.one-default
            div.container.content
                div.row
                    div.col-md-6
                        img.img-repsonsive.margin-bottom-10(src='/images/blog/instagram-api/instagram-title.png',alt='',height='100%',width='100%')
                    div.col-md-6
                        h1 Instagram API
                        p.
                            For this post I wanted to work through a basic example of requesting data from an external API and displaying it on a page. We will be using the Instagram API as our data source, making requests via http, getting JSON data back and using a bit of Angular to display it.
                        a.btn-u.btn-u-sea.one-page-btn.margin-top-20(href='/blog/posts/instagram-api') Go to Post
        //-Blog - Japan Part 1
        div.one-page-inner.bg-light
            div.container.content
                div.row
                    div.col-md-6
                        img.img-repsonsive.margin-bottom-10(src='/images/gallery/misc/japan_1.jpg',alt='',height='100%',width='100%')
                    div.col-md-6
                        h1 Japan Part 1
                        p.
                            Awhile ago I had the opportunity to spend a few months in Japan.
                            I took a ton of pictures while I was over there, but never had a chance to put a narrative behind them.
                        p Well - I am finally getting around to doing just that. Due to the amount of content I will be breaking this up into multiple parts.
                        p So without further ado this is part 1.
                        a.btn-u.btn-u-sea.one-page-btn.margin-top-20(href='/blog/posts/japan-part-1') Go to Post
        //-Blog - Javascript Audio Visualizer
        div.one-page-inner.one-default
            div.container.content
                div.row
                    div.col-md-6
                        img.img-repsonsive.margin-bottom-10(src='/images/blog/audiovisualizer.png',alt='',height='100%',width='100%')
                    div.col-md-6
                        h1 Javascript Audio Visualizer
                        p.
                            Awhile back I took a Coursera class offered through the University of London called
                            <a href='https://www.coursera.org/course/digitalmedia', target='_blank'>Creative Programming for Digital Media & Mobile Apps.</a>
                            The course focused on applying programming to the development of creative works that make use of graphics and audio.
                        p.
                            Here is demo I created for one the course assignments - an audio visualizer written in Javascript using <a href='https://processingjs.org/',target='_blank'>Processing.js</a>.
                        a.btn-u.btn-u-sea.one-page-btn.margin-top-20(href='/blog/posts/audio-visualizer') Go to Post
        //-Gallery
        div.one-page-inner.bg-light
            div.container.content
                div.row
                    div.col-md-6
                        img.img-repsonsive.margin-bottom-10(src='/images/gallery/japan/japan_41.jpg',alt='',height='100%',width='100%')
                    div.col-md-6
                        h1 Gallery
                        p.
                            The gallery contains photos broken down by category and available all in one place.
                        p.
                            Check out travel photos from
                            <a href='/gallery/los-angeles'>Los Angeles</a>,
                            <a href='/gallery/san-francisco'>San Francisco</a>,
                            <a href='/gallery/las-vegas'>Las Vegas</a>, and
                            <a href='/gallery/japan'>Japan</a>.
                        a.btn-u.btn-u-sea.one-page-btn.margin-top-20(href='/gallery') Go to Gallery



    //-JS Implementing Plugins
    script(type='text/javascript',src='/plugins/jquery.parallax.js')
    script(type='text/javascript',src='/plugins/counter/jquery.counterup.min.js')
    script(type='text/javascript',src='/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js')
    script(type='text/javascript',src='/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js')
    //-JS Page Level
    script(type='text/javascript',src='/javascripts/plugins/revolution-slider.js')
    script(type='text/javascript').
        jQuery(document).ready(function () {
            App.initCounter();
            App.initParallaxBg();
            RevolutionSlider.initRSfullScreenOffset();
        });