extends layout

block content
    //-Slider
    div.tp-banner-container
        div.tp-banner
            ul
                //-Slide
                li.revolution-mch-1(data-transition='fade',data-slotamount='5',data-masterspeed='1000',data-title='Title1')
                    //-Main Image
                    img(src='/images/gallery/misc/santa_monica_2.jpg',alt='darkblurbg',data-bgfit='cover',data-bgposition='left top',data-bgrepeat='no-repeat')
                    div.tp-caption.revolution-ch1.sft.start(data-x='center',
                        data-hoffset='0',
                        data-y='100',
                        data-speed='1500',
                        data-start='500',
                        data-easing='Back.easeInOut',
                        data-endeasing='Power1.easIn',
                        data-endspeed='300').
                            First Name Last Name
                    //-Layer
                    div.tp-caption.revolution-ch2.sft(data-x='center',
                    data-hoffset='0',
                    data-y='190',
                    data-speed='1400',
                    data-start='2000',
                    data-easing='Power4.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300',
                    data-captionhidden='off',
                    style='z-index: 6').
                        Software Developer <br/>
                    //-Layer
                    div.tp-caption.sft(data-x='center',
                    data-hoffset='0',
                    data-y='310',
                    data-speed='1600',
                    data-start='2800',
                    data-easing='Power4.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300',
                    data-captionhidden='off',
                    style='z-index: 6')
                        a.btn-u.btn-brd.btn-brd-hover.btn-u-light(href='/about-me') Learn More
                        a.btn-u.btn-brd.btn-brd-hover.btn-u-light(href='/portfolio') My Work
