extends layout

block content
    //-Slider
    div.tp-banner-container
        div.tp-banner
            ul
                //-Slide
                li.revolution-mch-1(data-transition='fade',data-slotamount='5',data-masterspeed='1000',data-title='Title1')
                    //-Main Image
                    img(src='/images/gallery/las-vegas/las_vegas_14.jpg',alt='darkblurbg',data-bgfit='cover',data-bgposition='left top',data-bgrepeat='no-repeat')
                    div.tp-caption.revolution-ch1.sft.start(data-x='center',
                        data-hoffset='0',
                        data-y='100',
                        data-speed='1500',
                        data-start='500',
                        data-easing='Back.easeInOut',
                        data-endeasing='Power1.easIn',
                        data-endspeed='300').
                            Dramatic headline statement
                    //-Layer
                    div.tp-caption.revolution-ch2.sft(data-x='center',
                    data-hoffset='0',
                    data-y='190',
                    data-speed='1400',
                    data-start='2000',
                    data-easing='Power4.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300',
                    data-captionhidden='off',
                    style='z-index: 6').
                        Slightly less important statement
                    //-Layer
                    div.tp-caption.sft(data-x='center',
                    data-hoffset='0',
                    data-y='350',
                    data-speed='1600',
                    data-start='2800',
                    data-easing='Power4.easeInOut',
                    data-endeasing='Power1.easIn',
                    data-endspeed='300',
                    data-captionhidden='off',
                    style='z-index: 6')
                        a.btn-u.btn-brd.btn-brd-hover.btn-u-light(href='/blog') Go to Blog
                        //-a.btn-u.btn-brd.btn-brd-hover.btn-u-light(href='/gallery') Gallery
            div.tp-bannertime.tp-bottom

    //-Call to action
    div.call-action-v1.bg-light
        div.container
            div.call-action-v1-box
                div.call-action-v1-in
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
                div.call-action-v1-in.inner-btn.page-scroll
                    a.btn-u.btn-brd.btn-brd-hover.btn-u-dark.btn-u-block(href='/about-me') About Me
    //-Content part
    div.one-page
        div.one-page-inner.one-default
            div.container.content
                div.row
                    div.col-md-6
                        h1 At vero eos et accusamus et iusto odio dignissimos
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus..
                        p Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat
                        a.btn-u.btn-u-green.one-page-btn
                            <i class="fa fa-bolt"></i> Libero adipiscing
                    div.col-md-6
                        img.img-repsonsive.margin-bottom-10(src='/images/gallery/japan/japan_1.jpg',alt='',height='100%',width='100%')


    //-JS Implementing Plugins
    script(type='text/javascript',src='/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js')
    script(type='text/javascript',src='/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js')
    //-JS Page Level
    script(type='text/javascript',src='/javascripts/plugins/revolution-slider.js')
    script(type='text/javascript').
        jQuery(document).ready(function () {
            RevolutionSlider.initRSfullWidth();
        });

